appdirs==1.4.2
click==6.7
Flask==0.12
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
nltk==3.2.2
numpy==1.12.0
packaging==16.8
post==0.0.0
public==0.0.0
pyparsing==2.1.10
query-string==0.0.0
request==0.0.0
scikit-learn==0.18.1
scipy==0.18.1
setupfiles==0.0.0
six==1.10.0
virtualenv==15.1.0
Werkzeug==0.11.15
WTForms==2.1
